.fixedFooter {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* ESTILOS FOOTER */

.backgrFooter{
  background-color: rgba(9, 108, 201, 0.836);
  height: 80px;
  
}

.socialicon{
  color:gray;
  font-size: 35px;
  text-align: center;
  padding: 15px;
}

.img-credit-card{
  max-width: 3rem;
  margin: 10px;
}

.borderTop-div{
  border-top: 2px solid  #6d6e70;
}


/* ESTILOS NAVBAR */
.navbar-style{
  min-height: 150px;
}

.fontNavbar {
  font-size: 1.3rem;
  font-weight: bolder;
  color: white !important;
  margin-right: 2rem;
}

.logoImg {
  height: 150px;
  width: 150px;
}

/* ESTILOS APPLEWATCH */
.imgAppleW {
  width: 500px;
  height:500px;
}

/* ESTILOS SUUNTOWSTCH */
.imgSuuntoW {
  width: 700px;
}
